.main-menu { 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #004080;
     padding: 10px 40px; 
     box-sizing: border-box; 
     color: white; 
     position: relative; 
    }
.logo {
  flex-shrink: 0;
  margin-right: auto;
  cursor:pointer;

}

.logo img { 
    width: auto;
    height: 80px;
    object-fit: contain;
     }

.search { 
    flex: 1; 
    display: flex; 
    justify-content: center; 
    margin: 0 20px; }


.search input { 
    width: 60%;
    height: 15px; 
    padding: 8px; 
    border-radius: 4px; 
    border: none; }

.search button { 
    margin-left: 5px; 
    padding: 8px 12px; 
    background-color: #0080ff; 
    border: none; 
    border-radius: 4px; 
    color: white; 
    cursor: pointer;
    height: 32px;
 }

.actions { 
    display: flex; 
    gap: 10px; }


.actions button { 
    background: none; 
    border: none; 
    color: white; 
    cursor: pointer; 
    font-size: 1rem; }
