
.iniciar-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  max-width: 600px;
  margin: auto;
  background: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  animation: fadeIn 0.8s ease-out;
}

.iniciar-form {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.iniciar-form label {
    
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}


.iniciar-form input {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
} 

.iniciar-form button {
  padding: 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;

}

.iniciar-form button:hover {
  background-color: #005fa3;
}


.registro{
    color: #0077cc;
    cursor: pointer;
}






