.viajesyhoteles-container {
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #004080;
     padding: 10px 40px; 
     box-sizing: border-box; 
     color: white; 
     position: relative; 
     
}

.viajesyhoteles-item {
    display: inline-block;
    width: 23%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    
}


.viajesyhoteles-item:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.viajesyhoteles-imagen{

    width: 100%;
    height: 200px;
}


.filtros {
    margin: 20px 0;
    text-align: center;
    background-color: cornflowerblue;
    width: 100%;
}


